<div class="content">
    <div class="back" routerLink="/"><i class='pi pi-arrow-left'></i>Powrót do listy wpisów</div>
    <article>
        <header>
            <h1>{{article?.tytul}}</h1>
        </header>
        <section>
            {{article?.tresc}}
        </section>
    </article>
</div>