article {
    width: 70%;
    text-align: center;
    margin: 10px auto 0px auto;
}

h1 {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 50px;
}

section {
    text-align: justify;
}

.back {
    width: 400px;
    margin: 34px 0 0 60px;
    cursor: pointer;
}

.back:hover {
    color: #333
}