#content {
    text-align: center;
    width: 60%;
    margin: 100px auto 0 auto;
}

#text {
    font-size: 30px;
}

#logo {
    margin: 100px auto 100px auto;
}

img {
    width: 400px;
    height: 400px;
}

h3 {
    font-size: 33px;
    margin-bottom: 70px;
}

h4 {
    font-size: 30px;
    margin: 50px auto 70px auto
}

#members {
    margin-top: 100px;
}