<div id="content">
    <div id="text">
        Projekt "IstnieJa" to pełna wzniosłych idei inicjatywa idealna dla każdego człowieka zainteresowanego rozwojem osobistym. Jako lider zespołu, chciałbym zaproponować nowe spojrzenie na rzeczywistość i wgląd we własne istnienie, czyli to kim naprawdę
        jesteśmy. Na odkrycie własnych preferencji, czyli (prawdziwych!) supermocy, które można później wykorzystać. Dzięki tej samowiedzy możliwe będzie zrozumienie lepiej świata dookoła (w tym innych ludzi) oraz poznanie głębiej zagadnienia
        psychologicznego dot. "nauki o duszy". Grupa ma na celu pokazać perspektywę otwartą na zrozumienie, akceptację widoczną w działaniu, która niesie realne zmiany w życiu, w jakim zwykliśmy funkcjonować. Poprzez proponowane aktywności i
        wymienione poniżej wydarzenia chcemy promować ideały projektowe. Przychodzimy z tym wszystkim, serdecznie zachęcając do zapoznania się z naszymi mediami społecznościowymi, które obecnie prowadzimy.
    </div>
    <div id="logo">
        <img src="favicon.svg" alt="logo Istnieja">
    </div>
    <div id="members">
        <h3>Członkowie Projektu</h3>
        <div class="member" *ngFor="let member of members">
            <img src="{{member.url}}" alt="{{member.name}} image">
            <h4>{{member.name}}</h4>
        </div>
    </div>
</div>