.content {
    width: 65%;
    margin: 40px auto 10px auto;
}

.p-grid>* {
    margin-top: 13px;
    margin-bottom: 13px;
}

input {
    width: 100%;
}

textarea {
    width: 100%
}

p-button {
    width: 100%
}