<div class="content">
    <section>
        <div class="card">
            <form [formGroup]="form">
                <div class="p-grid p-formgrid">
                    <div class="p-col-6">
                        <span class="p-float-label">
                        <input id="tytyl" type="text" pInputText formControlName="title" />
                        <label for="tytul">Tytuł</label>
                    </span>
                    </div>
                    <div class="p-col-3"></div>
                    <div class="p-col-3 ">
                        <span class="p-float-label">
                        <input id="autor" type="text" pInputText formControlName="autor">
                        <label for="autor">Autor</label>
                    </span>
                    </div>
                    <div class="p-col-12">
                        <span class="p-float-label">
                        <textarea id="ee" rows="5" cols="30" pInputTextarea autoResize="autoResize" formControlName="opis"></textarea>
                        <label for="ee">Opis</label>
                        </span>
                    </div>
                    <div class="p-col-12">
                        <span class="p-float-label">
                        <textarea id="bb" rows="10" cols="30" pInputTextarea autoResize="autoResize" formControlName="tresc"></textarea>
                        <label for="bb">Treść</label>
                        </span>
                    </div>
                    <div class="p-col-3">
                        <p-button label="Submit" (click)="onSubmit()"></p-button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>