<div class="content">
    <h1 class="p-text-uppercase">Ostatnie Wpisy:</h1>
    <section>
        <article *ngFor="let i of lastArticles" >
            <app-new-article [article]="i"></app-new-article>
        </article>
    </section>
</div>