<div class="content">
    <nav class="p-grid menu p-shadow-6 p-jc-between">
        <div class="p-col-3 logo">istnieJA.</div>
        <div class="p-col-2 p-text-uppercase" routerLink="/" routerLinkActive="true">STRONA GŁÓWNA</div>
        <div class="p-col-2 p-text-uppercase" routerLink="/knowledge" routerLinkActive="true">czytaj więcej</div>
        <div class="p-col-2 p-text-uppercase" routerLink="/contact" routerLinkActive="true">KONTAKT</div>
        <div class="p-col-2 p-text-uppercase" routerLink="/about" routerLinkActive="true">O NAS</div>
    </nav>
    <div class="pustka-menu"></div>
    <section>
        <router-outlet></router-outlet>
        <!-- <app-new-page></app-new-page> -->
    </section>
    <footer>
        <div class="p-grid">
            <div class="p-col-2 footer-element">facebook</div>
            <div class="p-col-2 footer-element">instagram</div>
            <div class="p-col-1 footer-element" routerLink="/new"><i class="pi pi-plus"></i></div>
            <div class="p-col-2 footer-element"></div>
            <div class="p-col-5 footer-element" id="podpis">projek realizowany w ramach olimpiady Zwolnieni z Teori </div>
        </div>
    </footer>

</div>