.logo {
    color: #ED904C;
    font-size: 40px;
    cursor: default;
    user-select: none;
}

nav.menu {
    background-color: white;
    width: 90vw;
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 990;
    height: 90px;
}

.menu>* {
    padding: 15px 0 10px 0;
}

.menu>*:not(.logo) {
    padding: 25px 0 10px 0;
    cursor: pointer;
    transition: all .3s;
}

.menu>*:not(.logo):hover {
    padding-top: 23px;
    text-shadow: 0px 9px 3px #ccc;
}

section {
    min-height: 100vw;
    padding-bottom: 50px;
}

.content {
    width: 90vw;
    margin: 0 auto 0 auto;
    min-height: 100vh;
    background-color: white;
}

footer {
    text-align: center;
    background-color: #ED904C;
    height: 50px;
    width: 100%;
    margin: 0 auto;
}

.pustka-menu {
    width: 100%;
    height: 90px;
}

.footer-element {
    margin-top: 6px;
    font-weight: 600;
    font-size: 25px;
}

#podpis {
    font-size: 15px;
}

.nuu {
    background-color: cornflowerblue;
    width: 100%;
    height: 300px;
    margin: 50px auto;
}