<div id="content" class="p-grid">
    <div id="logo" class="p-col-6"><img src="favicon.svg" alt="logo istnieja"></div>
    <div id="text" class="p-col-6">
        Masz pytanie? Sugestię? Napisz do nas!
        <br><br> facebook:
        <br><br>
        <a href="">
        instagram: @istnieja
        </a>
        <br><br>
        <a href="">
        mail: istnieja.zzt@gmail.com
      </a>
    </div>
</div>