#logo {
    text-align: center;
    margin-top: 50px;
}

img {
    width: 100%;
}

#content {
    margin-top: 20px;
}

#text {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 500;
    padding: 10px 40px 10px 40px;
}

a {
    text-decoration: none;
    color: black;
}