.text {
    padding: 5px 10px 5px 20px;
}

img {
    width: 100%;
}

h3 {
    margin: 5px 0 12px 0;
}

.next {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    font-weight: bold;
    text-shadow: 0px 2px 3px #999;
}

.description {
    height: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    background: -webkit-linear-gradient(#000, #555, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}