<div class="p-grid content">
    <div class="imgage p-col-3">
        <img src="assets/img/Placeholder.png" alt="uobrazowanie treści artykułu mające zachęcić do głębszego rozmyślenia nad zawartością">
    </div>
    <div class="text p-col-9">
        <h3 class="p-text-uppercase">{{article?.tytul}}</h3>
        <div class="p-text-warp description">{{article?.opis}}</div>
        <div class="next p-text-uppercase" [routerLink]="['article',article?.key]">Czytaj dalej <i class="pi pi-arrow-right"></i></div>
    </div>
</div>