/* You can add global styles to this file, and also import other style files */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ED904C;
}

html {
    width: 100%;
    height: 100%;
}